<div class="row">
    <div class="col-4"></div>

    <div class="col-4 caixa">
    <div class="border">
        <h3>Recuperação de senha</h3>
    <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Informe seu e-mail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite aqui seu e-mail..." required><br>
              <button class="btn btn-dark">Enviar</button>
            </div>
    </form>
    </div>    

      <div class="col-4"></div>
</div>