<div class="row pesquisa">
    <h2>Pequisa por: jazz</h2>
</div>

<div class="row bg-light text-black" id="itens-vitrine">
    <div class="col-sm-4">
        <div class="div-da-vitrine" >
            <a href="/detalhe-produto">
             <img class="img-max" src="assets/images/kind-of-blues.jpg" alt=""></a>
        </div>        
        <div><a href="/detalhe-produto">Kind of Blues</a></div>
        <div class="row">
            <div class="col border" id="itens-vitrine">R$ 50.99</div>
            <div class="col border" id="itens-vitrine">Comprar</div>
        </div>
    </div>
</div>