<div class="row">
    
        <h1>Cadastre-se</h1> <br>
        <div class="mb-3 mt-3">
            <label class="form-label">Nome:</label>
            <input [(ngModel)]="obj.nome" class="form-control" placeholder="Insira seu nome..." maxlength="50" required>
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label">Email:</label>
            <input [(ngModel)]="obj.email" class="form-control" placeholder="Insira seu email..." required>
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label">CPF:</label>
            <input [(ngModel)]="obj.cpf" class="form-control" placeholder="Insira seu CPF..." 
                pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Digite um CPF no formato: xxx.xxx.xxx-xx" required>
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label">Telefone:</label>
            <input [(ngModel)]="obj.telefone" class="form-control" placeholder="Insira seu telefone..."
            pattern="[0-9]{2}-[0-9]{4,5}-[0-9]{4}" title="Formato 99-99999-9999" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Senha:</label>
            <input type="password" [(ngModel)]="obj.senha" class="form-control" placeholder="Insira sua senha..."
            pattern="^.{6,10}$" title="A senha deve conter no mínimo 6 caracteres e máximo 10" maxlength="14" required>
        </div>

        <!-- <div class="mb-3">
            <label for="pwd" class="form-label">Confirmar senha:</label>
            <input [(ngModel)]="obj.senha" type="password" class="form-control" id="confirmar" placeholder="Insira sua senha novamente..." name="confirmar"
            pattern="^.{6,10}$" title="A senha deve ser igual a informada anteriormente" maxlength="14" required>
        </div> -->
        
        <button (click)="gravar()" type="submit" class="btn btn-secondary">Cadastrar</button>    

</div>