<div class="row bg-light text-black" id="itens-vitrine">
    <div class="col-sm-4">
        <div class="div-da-vitrine" >
            <a href="/detalhe-produto">
             <img class="img-max" src="assets/images/kind-of-blues.jpg" alt=""></a>
        </div>        
        <div><a href="/detalhe-produto">Kind of Blues</a></div>
        <div class="row">
            <div class="col border" id="itens-vitrine">R$ 50.99</div>
            <div class="col border" id="itens-vitrine"><a href="/cesta-compras">Comprar</a></div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="div-da-vitrine">
            <a href="/detalhe-produto">
            <img class="img-max" src="assets/images/kid-a.jpg" alt=""></a>
        </div>
        <div><a href="/detalhe-produto">Kid A</a></div>
        <div class="row">
            <div class="col border" id="itens-vitrine">R$ 50.99</div>
            <div class="col border" id="itens-vitrine"><a href="/cesta-compras">Comprar</a></div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="div-da-vitrine">
            <a href="/detalhe-produto">
            <img class="img-max" src="assets/images/wish-you-were-here.jpg" alt=""></a>
        </div>
        <div><a href="/detalhe-produto">Wish You Were Here</a></div>
        <div class="row">
            <div class="col border" id="itens-vitrine">R$ 50.99</div>
            <div class="col border" id="itens-vitrine"><a href="/cesta-compras">Comprar</a></div>
        </div>
    </div>
</div>


    <div class="row bg-light text-black" id="itens-vitrine">
        <div class="col-sm-4">
            <div class="div-da-vitrine" >
                <a href="/detalhe-produto">
                 <img class="img-max" src="assets/images/abbey-road.jpg" alt=""></a>
            </div>
            <div><a href="/detalhe-produto">Abbey Road</a></div>
            <div class="row">
                <div class="col border" id="itens-vitrine">R$ 50.99</div>
                <div class="col border" id="itens-vitrine"><a href="/cesta-compras">Comprar</a></div>
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="div-da-vitrine">
                <a href="/detalhe-produto">
                <img class="img-max" src="assets/images/close-tt-edge.jpg" alt=""></a>
            </div>
            <div><a href="/detalhe-produto">Close to the Edge</a></div>
            <div class="row">
                <div class="col border" id="itens-vitrine">R$ 50.99</div>
                <div class="col border" id="itens-vitrine"><a href="/cesta-compras">Comprar</a></div>
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="div-da-vitrine">
                <a href="/detalhe-produto">
                <img class="img-max" src="assets/images/led-zepelin.jpg" alt=""></a>
            </div>
            <div><a href="/detalhe-produto">Led Zepellin IV</a></div>
            <div class="row">
                <div class="col border" id="itens-vitrine">R$ 50.99</div>
                <div class="col border" id="itens-vitrine"><a href="/cesta-compras">Comprar</a></div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="div-da-vitrine">
                <a href="/detalhe-produto">
                <img class="img-max" src="assets/images/pet-sounds.jpg" alt=""></a>
            </div>
            <div><a href="/detalhe-produto">Pet Sounds</a></div>
            <div class="row">
                <div class="col border" id="itens-vitrine">R$ 50.99</div>
                <div class="col border" id="itens-vitrine"><a href="/cesta-compras">Comprar</a></div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="div-da-vitrine">
                <a href="/detalhe-produto">
                <img class="img-max" src="assets/images/sgt-pepper.jpg" alt=""></a>
            </div>
            <div><a href="/detalhe-produto">Sgt. Pepper's Lonely Hearts Club Band</a></div>
            <div class="row">
                <div class="col border" id="itens-vitrine">R$ 50.99</div>
                <div class="col border" id="itens-vitrine"><a href="/cesta-compras">Comprar</a></div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="div-da-vitrine">
                <a href="/detalhe-produto">
                <img class="img-max" src="assets/images/songs-key-life.jpg" alt=""></a>
            </div>
            <div><a href="/detalhe-produto">Songs in the Key of Life</a></div>
            <div class="row">
                <div class="col border" id="itens-vitrine">R$ 50.99</div>
                <div class="col border" id="itens-vitrine"><a href="/cesta-compras">Comprar</a></div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>